<p id="notice"><%= notice %></p>
<% @words.each_with_index do |word, index| %>
  <h2><%= "#{index+1}) #{word.name}" %></h2>

  <div class="definition">
    <%= word.definition %>
  </div>

  <div class="example">
    <em><%= word.example %></em>
  </div>


  <div class="example">
    <em><%="Creado por #{word.author.pseudonym}"%></em>
  </div>

  <%= render partial: 'votes/voter', locals: {word: word}%>

<% end %>
